@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
    .dark {
        --color-primary: #1d1616;
        --color-p-light: #443c3c;
        --color-p-dark: #000000;
        --color-p-text: #9a0007;

        --color-secondary: #d32f2f;
        --color-s-light: #ff6659;
        --color-s-dark: #9a0007;
        --color-s-text: #ffffff;
        
        --color-white:#fff;
    }
    .light {
        --color-primary: #ffffff;
        --color-secondary: #616161;
        --color-dark: #cccccc;
        --color-light: #443c3c;
        --color-white: #ffffff;
        --color-text: #000000;
        --color-primary-contrast: #c91818;
    }
}
